<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Parsely.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <userSettings>
        <Parsely.My.MySettings>
            <setting name="strLocations" serializeAs="String">
                <value>Folder?X:\Web\Products\3 Product Pics Master</value>
            </setting>
            <setting name="strFileSearchPattern" serializeAs="String">
                <value>^\d{4,4}\..{3,4}$</value>
            </setting>
            <setting name="strSearchInsidePattern" serializeAs="String">
                <value>[\d\w]+@[\d\w]+\.[\w]{2,3}</value>
            </setting>
            <setting name="strBrowseLocation" serializeAs="String">
                <value />
            </setting>
            <setting name="strOutputLocation" serializeAs="String">
                <value>C:\Temporary Local Projects\Originals</value>
            </setting>
            <setting name="strFileContentPattern" serializeAs="String">
                <value>.*</value>
            </setting>
        </Parsely.My.MySettings>
    </userSettings>
</configuration>
